.conteiner{
    /* Auto layout */
    margin-top: 15px;
    margin-left: 300px;
        // background: #F9F9F9;
}  

.nav-item:hover {
  color: white;
  background: #4c68ff;
  overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    width: 293px;
    height: 19px;
    left: 94px;
    top: 94px;
    font-family: 'Inter';
    color: #B4B6C1;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
    width: 800px;
    height: 672px;
    background: #FFFFFF;
    border-radius: 9px;
    /* Inside auto layout */

}


tr,td, th{
    justify-content: space-between;
    width: 10px;
    margin-right: 1px;
}

.wrapper {
  display: flex;
  align-items: center;
}
.title, button {
  display: inline-block;
}

.title {
  margin-right: 600px;
}

.table{
  padding-right: 30px;
  width: 800px;
}

tr:hover {
  background-color: #b4b6c1;
}