<app-header></app-header>
<aside class="side-menu">
  <app-side-menu></app-side-menu>
</aside>

  <div class="conteiner">
    <h1 class="h1-conteiner">Criar Modelo</h1>
    <div class="form-container">
        <form [formGroup]="novoModelo">
            <div class="text-center">
            </div>
            <div class="column">
              <div class="form-floating">
                <input type="text" formControlName="nome" placeholder="Nome do Modelo" />
                <p *ngIf=""></p>
              </div>
              <div
              *ngIf="
                novoModelo.get('nome')?.errors &&
                (novoModelo.get('nome')?.touched || novoModelo.get('nome')?.dirty)
              "
            >
              <p style="color: red">Informe um nome válido!</p>
            </div>
              <div class="form-floating">
                <input type="text" formControlName="colecao" placeholder="Pertece a qual coleção?" />
                <p *ngIf></p>
              </div>
              <div
              *ngIf="
                novoModelo.get('colecao')?.errors &&
                (novoModelo.get('colecao')?.touched || novoModelo.get('colecao')?.dirty)
              "
            >
              <p style="color: red">Informe uma coleção</p>
            </div>
              <div class="form-floating">
                <input type="text" formControlName="bordado" placeholder="Possui bordado? (sim ou não)" />
              </div>
              <div
              *ngIf="
                novoModelo.get('bordado')?.errors &&
                (novoModelo.get('bordado')?.touched || novoModelo.get('bordado')?.dirty)
              "
            >
              <p style="color: red">Informe um orçamento</p>
            </div>
            </div>
            <div class="column">
              <div class="form-floating">
                <input type="text" formControlName="tipo" placeholder="Tipo do modelo" />
              </div>
              <div
              *ngIf="
                novoModelo.get('tipo')?.errors &&
                (novoModelo.get('tipo')?.touched || novoModelo.get('tipo')?.dirty)
              "
            >
              <p style="color: red">Informe um tipo válido!</p>
            </div>
              <div class="form-floating">
                <input type="text" formControlName="responsavel" placeholder="Responsável pelo modelo" />
              </div>
              <div
              *ngIf="
                novoModelo.get('responsavel')?.errors &&
                (novoModelo.get('responsavel')?.touched || novoModelo.get('responsavel')?.dirty)
              "
            >
              <p style="color: red">Informe um responsável</p>
            </div>
              <div class="form-floating">
                <input type="text" formControlName="estampa" placeholder="Possui estampa? (Sim ou não)" />
              </div>
              <div
              *ngIf="
                novoModelo.get('estampa')?.errors &&
                (novoModelo.get('estampa')?.touched || novoModelo.get('estampa')?.dirty)
              "
            >
              <p style="color: red">Informe se o modelo possui estampa</p>
            </div>
            </div>

            <div class="buttons">
            <button class="cancelar" (click)="goToModelos()" >
              Cancelar
            </button>
            <button class="criar" (click)="criaModelo()">
                Criar
            </button>
            </div>
        </form>
    </div>
</div>