.container{
  /* Auto layout */
  margin-top: 15px;
  margin-left: 246px;
}  
.main-content{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 75px;
  gap: 10px;
  width: 1000px;
  height: 672px;
  background: #FFFFFF;
  border-radius: 9px;
  /* Inside auto layout */

}

.card-container{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* position: absolute; */
    margin-left: 200px;
    margin-right: 10px;
    justify-items: center;
    align-items: center;
    width: 10px;
    height: 30px;
}

.row{
  width: 10px;
}









