.conteiner {
  margin-top: 15px;
  margin-left: 300px;
  background: #f9f9f9;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 51px 40px;
  gap: 40px;
  position: absolute;
  width: 250px;
  height: 100vh;
  background: #ffffff;
  border-right: 2.5px solid #f0f0f0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  width: 293px;
  height: 19px;
  left: 94px;
  top: 94px;
  font-family: "Inter";
  color: #b4b6c1;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
  width: 1350px;
  height: 672px;
  background: #ffffff;
  border-radius: 9px;
}

tr,td,th {
  justify-content: space-between;
  width: 10px;
  margin-right: 1px;
}

.wrapper {
  display: inline-block;
}

.h1-conteiner {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin: auto;
  background: #ffffff;

}

.form-container {
  width: 1120px;
  height: 400px;
  background: #ffffff;
  border-radius: 10px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.container {
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f2f5ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: #ffff;
  padding: 60px 60px 100px 60px;
  border-radius: 5px;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 15px;
  gap: 10px;
  margin-bottom: 10px;
  width: 5000px;
  height: 43px;
  border: 1px solid #ebf0fa;
  border-radius: 6px;
}

input:focus {
  border-color: #b4b6c1;
}

.column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

.form-floating input {
  width: 400px;
  border-right: 100px;
}

.form {
  padding: 78px 320px 125px 56px;
  float: left;
  margin-left: -300px;
  border-top: -10px;

}

.icones {
  margin-left: 250px;
  margin-top: 30px;
}
.buttons {
  margin-top: 30px;
  margin-left: 350px;
}

.cancelar {
  padding: 14px;
  gap: 10px;
  width: 180px;
  height: 50px;
  margin-right: 50px;
  text-align: center;
  background: #ebebeb;
  border-radius: 6px;
}

.criar {
  justify-content: center;
  padding: 14px;
  gap: 10px;
  width: 180px;
  height: 50px;
  background: #0073cf;
  border-radius: 6px;
  text-align: center;
}
