<app-header></app-header>
<aside class="side-menu">
  <app-side-menu></app-side-menu>
</aside>

<div class="conteiner">
  <h1 class="h1-conteiner">Criar Coleção</h1>
  <div class="form-container">
    <form [formGroup]="novaColecao">
      <div class="text-center"></div>
      <div class="column">
        <div class="form-floating">
          <input
            type="text"
            formControlName="nome"
            placeholder="Nome da Coleção"
          />
          <p *ngIf=""></p>
        </div>
        <div
          *ngIf="
            novaColecao.get('nome')?.errors &&
            (novaColecao.get('nome')?.touched || novaColecao.get('nome')?.dirty)
          "
        >
          <p style="color: red">Informe um nome válido!</p>
        </div>
        <div class="form-floating">
          <input
            type="text"
            formControlName="estacao"
            placeholder="Para qual estação?"
          />
          <p *ngIf></p>
        </div>
        <div
          *ngIf="
            novaColecao.get('estacao')?.errors &&
            (novaColecao.get('estacao')?.touched ||
              novaColecao.get('estacao')?.dirty)
          "
        >
          <p style="color: red">Informe uma estação</p>
        </div>
        <div class="form-floating">
          <input
            type="text"
            formControlName="orcamento"
            placeholder="Qual é o orçamento para a coleção?"
          />
        </div>
        <div
          *ngIf="
            novaColecao.get('orcamento')?.errors &&
            (novaColecao.get('orcamento')?.touched ||
              novaColecao.get('orcamento')?.dirty)
          "
        >
          <p style="color: red">Informe um valor de orçamento</p>
        </div>
      </div>
      <div class="column">
        <div class="form-floating">
          <input
            type="text"
            formControlName="responsavel"
            placeholder="Responsável pela coleção"
          />
        </div>
        <div
          *ngIf="
            novaColecao.get('responsavel')?.errors &&
            (novaColecao.get('responsavel')?.touched ||
              novaColecao.get('responsavel')?.dirty)
          "
        >
          <p style="color: red">Informe um responsável pela coleção</p>
        </div>
        <div class="form-floating">
          <input
            type="text"
            formControlName="marca"
            placeholder="Para qual marca você está criando?"
          />
        </div>
        <div
          *ngIf="
            novaColecao.get('marca')?.errors &&
            (novaColecao.get('marca')?.touched ||
              novaColecao.get('marca')?.dirty)
          "
        >
          <p style="color: red">Informe uma marca</p>
        </div>
        <div class="form-floating">
          <input
            type="text"
            formControlName="anoLancamento"
            placeholder="Ano de lançamento"
          />
        </div>
        <div *ngIf="
            novaColecao.get('anoLancamento')?.errors &&
            (novaColecao.get('anoLancamento')?.touched ||
              novaColecao.get('anoLancamento')?.dirty)">
          <p style="color: red">Informe um ano de lançamento</p>
        </div>
      </div>
      <div class="icones">
        <img src="assets/cria-colecoes-bg.png" alt="" />
      </div>
      <div class="buttons">
        <button class="cancelar" (click)="goToColecoes()">Cancelar</button>
        <button class="criar" (click)="criaColecao()">Salvar</button>
      </div>
    </form>
  </div>
</div>
