.conteiner{
    /* Auto layout */
    margin-top: 15px;
    margin-left: 300px;
    background: #F9F9F9;
}  

.row {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 51px 40px;
  gap: 40px;
  position: absolute;
  width: 250px;
  height: 100vh;
  background: #ffffff;
  border-right: 2.5px solid #f0f0f0;
}

.menu-titulo {
  width: 300px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
//   color: #b4b6c1;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 10px;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  overflow: hidden;
}

.nav-item:hover {
  color: white;
  background: #4c68ff;
  overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
}

button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    width: 293px;
    height: 19px;
    left: 94px;
    top: 94px;
    font-family: 'Inter';
    color: #B4B6C1;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
    width: 1350px;
    height: 672px;
    background: #FFFFFF;
    border-radius: 9px;
    /* Inside auto layout */

}


tr,td, th{
    justify-content: space-between;
    width: 10px;
    margin-right: 1px;
}

.wrapper {
    display: inline-block;
  }

.h1-conteiner{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
color: #2C2C2C;
}

.form-container{
width: 1120px;
height: 400px;

background: #FFFFFF;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}
.container {
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F2F5FF;;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: #FFFF;
  padding: 60px 60px 100px 60px;
  border-radius: 5px;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 15px;
  gap: 10px;
  margin-bottom: 10px;
  width: 5000px;
  height: 43px;
  
  border: 1px solid #EBF0FA;
  border-radius: 6px;
}

input:focus {
  border-color: #B4B6C1;
  
}

.column {
  display: inline-block;
  width: 45%;
  margin-right: 5%;
}

.form-floating input {
  width: 400px;
  border-right: 100px;
}

.form{
  padding: 78px 320px 125px 56px;
  float: left;
  margin-left: -300px;
  border-top: -10px;
}

.icones{
  margin-left: 250px;
  margin-top: 30px;
}
.buttons{
  margin-top: 30px;
  margin-left: 350px;
}
