<div class="card-container">

  <div class="card">
    <div class="card-body">
        <h2 class="colecoes" >Coleções</h2>
        <p class="numColecoes"> {{ numModelos }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <h2 class="colecoes" >Modelos</h2>
        <p class="numColecoes"> {{ numColecoes }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <h2 class="colecoes" >Orçamento Médio (R$)</h2>
        <p class="numColecoes"> 1</p>
    </div>
  </div>



</div>