.conteiner {
  margin-top: 15px;
  margin-left: 300px;
}

button {
  background: none;
  border: none;
}

.main-content {
  padding: 30px;
  width: 1000px;
  height: 672px;
}

tr,
td,
th {
  justify-content: space-between;
  width: 10px;
  margin-right: 1px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 600px;
}

.table {
  padding-right: 30px;
  width: 800px;
}

tr:hover {
  background-color: #b4b6c1;
}
